<footer>
    <div class="f-info">
         <div class="f-info-socials">
           <a class="fa-brands fa-square-facebook"></a>
          <a class="fa-brands fa-square-instagram" ></a>
         </div>
         <div class="f-info-brand">&copy;Wanderlist Private Limited</div>
          <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
          </div>
        </div>
</footer>